* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;
}

:root {
    --clr-background: #fefefe;
    --clr-foreground: #222222;

    --clr-primary: #11BB60;
    --clr-primary-foreground: #111111;
    --clr-primary-hover: #15CE70;
    --clr-primary-hover-foreground: #111111;

    --clr-secondary: #999999;
    --clr-secondary-foreground: #111111;
    --clr-secondary-hover: #777777;
    --clr-secondary-hover-foreground: #111111;

    --clr-border: #AAAAAA;

    --clr-error: #ff5050;
    --clr-error-foreground: #222222;
    --clr-error-hover: #fd3030;
    --clr-error-hover-foreground: #222222;

    --contact-list-gap: 0.75rem;
}

body {
    background-color: var(--clr-background);
    color: var(--clr-foreground);
    font-family: 'PT Sans', Verdana, Geneva, Tahoma, sans-serif;

    > * {
        padding-inline: 2.4rem;
        max-width: 60rem;
        margin-inline: auto;
    }

    > header {
        padding-block: 1rem;
        margin-block-end: 2.4rem;
        border-bottom: 1px solid var(--clr-border);
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li + li {
    margin-top: var(--contact-list-gap);
}

.button, button {
    display: block;
    border-radius: 9999px;
    border: 0;
    min-width: 12ch;
    text-align: center;
    font-weight: 600;
    font-size: 0.85rem;
    color: var(--button-foreground, var(--clr-primary-hover-foreground));
    background-color: var(--button-background, var(--clr-primary));
    padding-block: 0.7rem;
    padding-inline: 0.5rem;
    transition: 200ms ease;
    transition-property: color, background-color;
    cursor: pointer;

    &:hover {
        color: var(--button-hover-foreground, var(--clr-primary-hover-foreground));
        background-color: var(--button-hover-background, var(--clr-primary-hover));
    }

    &[data-theme="secondary"] {
        --button-background: var(--clr-secondary);
        --button-hover-background: var(--clr-secondary-hover);
        --button-foreground: var(--clr-secondary-foreground);
        --button-hover-foreground: var(--clr-secondary-hover-foreground);
    }

    &[data-theme="danger"] {
        --button-background: var(--clr-error);
        --button-hover-background: var(--clr-error-hover);
        --button-foreground: var(--clr-error-foreground);
        --button-hover-foregound: var(--clr-error-hover-foreground);
    }
}

.button-group {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    margin-block-start: 2rem;

    form:not(.wrapper-form) > & {
        margin-block-start: 1rem;
        grid-column: 1 / -1;
    }
}

.contact {
    color: var(--clr-foreground);

    &:hover {
        color: var(--clr-primary);
    }

    &::before {
        content: ">";
        margin-inline-start: -1.2ch;
        transition: 200ms ease opacity;
        opacity: 0;
    }

    &:hover::before,
    &:focus::before {
        opacity: 1;
    }
}

.create-contact-link {
    @extend .button;
    position: sticky;
    width: 100%;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 12rem;
}

.back-link {
    display: block;
    color: var(--clr-primary);
    margin-bottom: 1em;
    transition: 200ms ease color;

    &:hover {
        color: var(--clr-primary-hover);
    }

    &::before {
        content: "< ";
        font-size: 0.8em;
    }
}

form:not(.wrapper-form) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 10rem), 14rem));
    gap: 1rem;

    &.center {
        justify-content: center;
    }
}

.wrapper-form {
    display: contents;
}

.form-field {
    &-label {
        display: block;
        font-size: 0.9rem;
        margin-bottom: 0.5em;
    }

    &.row {
        grid-column: 1 / -1;
    }

    input:not([type="checkbox"]) {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid var(--clr-border);
    }
}

.error {
    color: var(--clr-error);
    font-size: 0.75rem;
    padding-block-start: 0.25rem;
}
